@font-face {
  font-family: "Kano";
  src: url(/fonts/Kano/Kano.otf);
}

@font-face {
  font-family: "Monoton";
  src: url(/fonts/Monoton/Monoton-Regular.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans/OpenSans-ExtraBold.ttf);
}

@font-face {
  font-family: "Nunito";
  src: url(/fonts/Nunito/Nunito-Regular.ttf);
}

@font-face {
  font-family: "Source Code Pro Mono";
  src: url(/fonts/SourceCodeProMono/SourceCodePro-Regular.ttf);
}
