@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// colors
$colors: (
  orange: #fa8142,
  green: #09c372,
  blue: #498afb,
  dark-blue: #0075ff,
  pink: #ff4088,
  red: hsl(348, 100%, 61%),
  purple: hsl(265, 50%, 60%),
  dark-purple: #7000ff,
  yellow: hsl(48, 100%, 67%),
);

// default theme(dark theme)
@mixin default-theme {
  --background: var(--gray6);
  --text-color: var(--gray2);
  --h-color: white;
  --code-bg: #22262f; // #1d2327;
  --card-bg: var(--gray5);
  --card-radius: 0.25em;
  --h-border: 2px dashed var(--card-bg);
  --card-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.dark-theme {
  @include default-theme;
}

@mixin light-theme {
  --background: var(--gray0);
  --text-color: var(--gray6);
  --h-color: var(--gray6);
  --code-bg: var(--gray1);
  --card-bg: var(--gray0);
  --h-border: 2px dashed var(--gray-6);
  --card-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
    --#{$name}-dark: #{darken($color, 7%)};
    --#{$name}-light: #{lighten($color, 7%)};
  }

  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;

  --font-size: 20px;
  --font-head: "Fira Code", monospace; //"Open Sans", sans-serif;
  --font-body: "Fira Code", monospace; //"Nunito", sans-serif;
  --font-brand: "Monoton", sans-serif;
  --font-code: "Fira Code", monospace; //"Source Code Pro Mono", monospace;

  @include default-theme;
  // @include light-theme;
}

body {
  background: var(--background);
  color: var(--text-color);
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-size);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--h-color);
  font-family: var(--font-head);
  font-weight: 900;
  font-style: normal;
}

main {
  padding: 1em;
  flex: 1;
  transition: margin 0.3s ease;
}

pre {
  background: var(--card-bg);
  padding: 1rem;
  border-radius: var(--card-radius);

  code {
    color: inherit;
  }
}

hr {
  border: none;
  border-bottom: var(--h-border);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

code {
  background: var(--code-bg);
  color: var(--purple);
  padding: 0 0.4em;
  border-radius: 3px;
  font-size: 0.85em;
  font-weight: 700;
  box-shadow: var(--card-shadow);
  font-family: var(--font-code);
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  box-shadow: var(--card-shadow);
  transition: all 300ms ease-in-out;
  border-radius: 3px;
  font-family: var(--font-code);
  margin-bottom: 1rem;
  margin-top: 1rem;

  code {
    background-color: var(--card-bg);
    box-shadow: none;
    font-family: var(--font-code);
  }

  &:hover {
    transform: translateY(-3px);
  }
}

p {
  line-height: 1.8;
}

em {
  color: var(--h-color);
}

li {
  padding: 0.25em 0;
}

blockquote {
  position: relative;
  padding-left: 1em;
  border-left: var(--card-bg) 3px dashed;
  font-size: 1em;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button {
  transition: all 300ms ease-in-out;
}

button:hover {
  transform: translateY(-3px);
}

@media only screen and (max-width: 600px) {
  main {
    padding: 0rem;
    margin: auto 1rem;
  }
}

::selection {
  background-color: var(--green);
  color: white;
}
